<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Vue App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>

<body>

    <div id="app1">
        <!-- v-on is a built-in Vue directive that is used for event listening. 
            The argument (after the colon) is the name of the event to listen 
            to. @click is an alternative here. The text aft the r = in the
            quotes can be any JS you want to run when the event occurs.
            including any methods / properties from the vue instance. -->
        <div>
            <h2>Practice #1</h2>
            <p class="topic">Basics of data and methods property of Vue Object and event listeners</p>
            <button v-on:click="changeTitle">Change Title</button>
            <h3 style="display: inline-block; margin: 1rem;">{{ title }}</h3>
        </div>
    </div>

    <hr>

    <div id="app2">
        <div>
            <h2>Practice #2</h2>
            <p class="topic">Binding HTML Attributes</p>
            <!-- Whenever any event is fired a default object passed to the
                 event listener. The default object/data recieved (in the case 
                 of input and other events) has a 'target' attribute (i.e.,
                 the input element here). 
                 
                 '$event' gives us access to the 
                 default object/data passed by the event to which you are 
                 listening (the event object in this case). -->
            <input placeholder="Type blue or red!" type="text" v-on:input="cssClass = $event.target.value">
            <div style="display: flex; align-items: center;" v-bind:class="cssClass">
                <h3  >Class: </h3>
                <!-- v-bind is a directive that lets you dynamically bind html 
                     attributes (class in this case) to the result of js code.
                     Note, you can use just ':class' as shorthand.  -->
                <p style="margin-left: 10px;">{{ cssClass }}</p>
            </div>
        </div>
    </div>

    <hr>

    <div id="app3">
        <div>
            <h2>Practice #3</h2>
            <p class="topic">Computed Properties</p>
            <!-- a computed property is a goode idea to use when you have one property that dependes on another one -->
            <button v-on:click="increment">Increment</button>
            <div style="display: flex; align-items: center;">
                <p style="margin-left: 10px;">Counter: {{ counter }}</p>
                <p style="margin-left: 10px;">Clicks: {{ clicks }}</p>
            </div>
        </div>
    </div>

    <hr>

    <div id="app4">
        <div>
            <h2>Practice #4</h2>
            <p class="topic">Conditionals (v-if & v-show)</p>
            <button v-on:click="show = !show">Show / Hide</button>
            <div style="display: flex; align-items: center;">
                <p style="margin-left: 10px;" v-if="show">I'm visible sometimes!</p> <!-- v-if is used to conditionally render a block. The block will only be rendered if the directive’s expression returns a truthy value -->
                <p style="margin-left: 10px;" v-else>Am I visible?</p>  <!-- v-else can be placed on an adjacent element as long as it is the same type (e.g., <p></p>) -->
                <p style="margin-left: 10px;" v-show="show">You can see me!</p>  <!-- v-show works like v-if except it changes display to none if truthy and does not completely remove the elem from the dom -->
            </div>
            <p class="topic">Lists</p>
            <ul> <!-- v-for allows you to loop through an object/array to display multiple elements (in this case li's). person here can anything, persons refers to the object in the Vue el data -->
                <li v-for="person in persons">{{ person.name }}</li>
                <li> </li>
                <!-- You can optionally add a second argument to get the index of each item (does not have to be the word index)-->
                <li v-for="(person, index) in persons">{{ person.name }} - {{ index }}</li> 
            </ul>
        </div>
    </div>

    <hr>

    <div id="app5">
        <div>
            <h2>Practice #5</h2>
            <p class="topic">Filters</p>
            <div>
                <p>Using Computed Property: {{ theTitle }}</p>
                <p>Using a Global Filter: {{ title | uppercase }}</p>
                <p>Using a Local Filter: {{ title | lowercase }}</p>
                <p>Can use the global or local filter to apply to different data:</p>
                <p>global: {{ message | uppercase }}</p>
                <p>local: {{ message | lowercase }}</p>
            </div>
        </div>
    </div>

    <hr>

    <div id="app6">
        <div>
            <h2>Practice #6</h2>
            <p class="topic">Components</p>
            <div>
                <p>{{ title }}</p>
                <p>-------------</p>
                <p>Using the gloably defined component:</p>
                <app-user-global></app-user-global> <!-- the tag name matches the defined name of the gloabl component. Can be used anywhere. -->
                <p>Using the locally defined component within this vue instance:</p>
                <app-user-local></app-user-local> <!-- the tag name matches the defined name of the property within the components property of the vue instance. Can only be used in this vue instance. -->
            </div>
        </div>
    </div>

    
    <!-- Development Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Production Vue CDN -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script src="index.js"></script>
</body>

</html>
