hr {
    margin: 20px 0;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.topic {
    font-weight: bold;
}

.user {
    border: 1px solid lightgray;
    background-color: azure;
    padding: 10px;
}
